body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.app {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  text-align: center;
}

h1 {
  margin-bottom: 20px;
}

.form-container {
  display: flex;

}

.event-form {
  background-color: #fff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.input-container {
  margin-bottom: 20px;
}

input {
  margin-bottom: 10px;
  padding: 8px;
  width: 100%;
  box-sizing: border-box;
}

.create-btn {
  padding: 8px 16px;
  background-color: #f9f9f9;
  color: #333;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}


.event-item {
  width: calc(33.33% - 20px);
  margin: 10px;
  padding: 10px;
  background-color: #f9f9f9;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
}

.event-item h2 {
  margin-top: 0;
}

.event-item p {
  margin: 5px 0;
}