h1 {
    text-align: center;
  }
  
  .container {
    min-height: 70vh;
    width: 90%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 10vh;
    padding: 5vh;
    flex-wrap: wrap;
  }
  
  .container-items {
    padding: 5vh;
    height: 40vh;
    width: 40vh;
    box-shadow: 0 0 30px 0px rgba(0, 0, 0, 0.2);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  
  .button-container {
    padding: 2.5vh;
    display: flex;
    justify-content: space-evenly;
    gap: 2vh;
  }
  